:root {
    --color: #ef7998;
}

body{
    font-family: 'Kaushan Script';
    margin: 0;
}
/* header */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    background-color: white;
}
.nav-link{
    color: var(--color);
    text-decoration: none;
    font-size: 30px;
    margin: 0 10px;
}
.nav-link:hover{
    color: black;
}
.nav-end span{
    font-size: 16px;
    margin-right: 80px;
}
.nav-end button{
    font-size: 16px;
    background-color: white;
    border-radius: 5px;
    padding: 8px 10px;
    font-family: 'Kaushan Script', cursive;
    cursor: pointer;
}
.nav-end button:hover{
    background-color: var(--color);
    border: 2px solid var(--color);
    transition-duration: .2s;
    color: white;
}
.nav-end i{
    margin-right: 20px;
    margin-left: 0;
}
.menu-bar{
    font-size: 26px;
    display: none;
    cursor: pointer;
    color: var(--color)
}
/* banner */
.banner{
    height: calc(100vh - 72px);
    background-image: linear-gradient(rgba(255, 217, 0, 0.344), rgba(255, 217, 0, 0.11)), url('./images/headerBcg.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner h1{
    color: white;
    font-size: 40px;
}
.banner b{
    color: var(--color);
    font-size: 60px;
}
.banner button{
    font-family: 'Kaushan Script';
    font-size: 30px;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid black;
    cursor: pointer;
}
.banner button:hover{
    color: var(--color);
    background-color: black;
}



@media screen and (max-width: 1000px){
    nav{
        position: relative;
    }
    .nav-center{
        background-color: white;
        position: absolute;
        top: -150px;
        left: 0px;
        width: 100%;
        transition-duration: 1s;
    }
    .nav-center-down{
        top: 72px;
    }
    .nav-link{
        display: block;
    }
    .nav-end{
        display: none;
    }
    .menu-bar{
        display: block;
    }
}